.App-header {
  background-color: #282c34;
  min-height: 8vh;
	display: flex;
	/* flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  max-width: 80px;
  max-height: 8vh;
  float: left;
  display: flex;
}

.User-logo {
  max-width: 80px;
  max-height: 6vh;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}